{% extends 'base.html' %}
{% load my_media %}
{% block content %}



        <div class="card mt-5">
            <div class="card-header text-center">

                <h1 class="display-4">Список сообщений</h1>

            </div>
            <div class="card-body">

                {% for object in object_list %}
                    <p class="lead">Сообщение: {{ object.title }}
                        <a href="{% url 'mail:message_update' object.pk %}" style="color:white">
                            <span class="badge bg-primary m-2">редактировать</span>
                        </a>
                        <a href="{% url 'mail:message_delete' object.pk %}">
                            <span class="badge bg-danger ">удалить</span>
                        </a>
                    </p>
                {% endfor %}
            </div>

        </div>



{% endblock %}
